<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace映射dao接口的全路径 -->
<mapper namespace="com.tj.mapper.FeatureMapper">

    <select id="getFeature" resultType="com.tj.product.HappysysFeature" >
        SELECT feature.`feature_name` FROM happysys_product product
        INNER JOIN happysys_feature_list flist ON product.product_feature = flist.`feature_list_id`
        INNER JOIN happysys_feature_center fcenter ON fcenter.`feature_list_id` = flist.`feature_list_id`
        INNER JOIN happysys_feature feature ON feature.`feature_id` = fcenter.`feature_id`
        WHERE product_id = #{productId}
    </select>

</mapper>