<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tj.mapper.ProductMapper">

    <!--看不懂的地方不要管，要加条件直接加！！-->
    <select id="getByMap" resultType="com.tj.product.HappysysProduct">
        SELECT `product_id`,`product_title`,`product_price`,`product_image`,`product_details`,`product_deadline`
        ,`product_section`,`product_feature`,`product_insurance`,`product_level1`,`product_level2`,`product_level3`




                <if test="conditions.shopping_cart_user_id != null and conditions.shopping_cart_user_id != ''">
                    ,(SELECT `shopping_cart_id` FROM `happysys_shopping_cart`
                        WHERE `product_id` = `shopping_cart_product_id`
                        AND `shopping_cart_user_id` = #{conditions.shopping_cart_user_id}) `product_shopping_cart_id`
                </if>
        FROM `happysys_product` p
        <where>
            <if test="conditions.shopping_cart_user_id != null and conditions.shopping_cart_user_id != ''">
                `product_id` IN (
                    SELECT `shopping_cart_product_id` FROM `happysys_shopping_cart`
                    WHERE `shopping_cart_user_id` = #{conditions.shopping_cart_user_id}
                )
            </if>

            <if test="conditions.product_level1 != null and conditions.product_level1 != ''">
                AND `product_level1` = #{conditions.product_level1}
            </if>
            <if test="conditions.product_level2 != null and conditions.product_level2 != ''">
                AND `product_level2` = #{conditions.product_level2}
            </if>
            <if test="conditions.product_level3 != null and conditions.product_level3 != ''">
                AND `product_level3` = #{conditions.product_level3}
            </if>
            <if test="conditions.classify_id != null and conditions.classify_id != ''">
                AND `product_classify_id` = #{conditions.classify_id}
            </if>
        </where>

    </select>

    <select id="getDeadline" resultType="HappysysDeadline">
        SELECT deadline.deadline_id,deadline_time,deadline_price FROM happysys_product product
        INNER JOIN happysys_deadline_list dlist ON product.`product_deadline` = dlist.`deadline_list_id`
        INNER JOIN happysys_deadline_center dcenter ON dcenter.`deadline_list_id` = dlist.`deadline_list_id`
        INNER JOIN happysys_deadline deadline ON deadline.`deadline_id` = dcenter.`deadline_id`
        WHERE product_id = #{productId}
    </select>

    <select id="getSection" resultType="HappysysSection">
        SELECT section.section_id,section_min,section_max,section_price FROM happysys_product product
        INNER JOIN happysys_section_list slist ON product.product_section = slist.`section_list_id`
        INNER JOIN happysys_section_center scenter ON scenter.`section_list_id` = slist.`section_list_id`
        INNER JOIN happysys_section section ON  scenter.`section_id`= section.`section_id`
        WHERE product_id = #{productId}
    </select>

    <select id="getFeature" resultType="HappysysFeature" >
        SELECT feature.`feature_id`,feature.`feature_name`,feature.`feature_category` FROM happysys_product product
        INNER JOIN happysys_feature_list flist ON product.product_feature = flist.`feature_list_id`
        INNER JOIN happysys_feature_center fcenter ON fcenter.`feature_list_id` = flist.`feature_list_id`
        INNER JOIN happysys_feature feature ON feature.`feature_id` = fcenter.`feature_id`
        WHERE product_id = #{productId}
    </select>

    <select id="getInsurance" resultType="HappysysInsurance" >
        SELECT insurance.insurance_id,insurance_name,insurance_price,insurance_details FROM happysys_product product
        INNER JOIN happysys_insurance_list ilist ON product.product_insurance =  ilist.insurance_list_id
        INNER JOIN happysys_insurance_center icenter ON icenter.`insurance_list_id` = ilist.`insurance_list_id`
        INNER JOIN happysys_insurance insurance ON  icenter.`insurance_id`= insurance.`insurance_id`
        WHERE product_id = #{productId}
    </select>
    <select id="commentCount" resultType="Integer">
         SELECT COUNT(comment_content) FROM happysys_comment c
        INNER JOIN happysys_product p ON p.product_id=c.comment_product_id
        WHERE p.product_id=#{productId}
    </select>

    <select id="OrderCount" resultType="Integer">
         SELECT COUNT(order_number) FROM happysys_order o
         INNER JOIN happysys_product p ON o.order_product_id=p.product_id
         WHERE p.product_id=#{productId}
    </select>
    <select id="insuranceAll" resultType="HappysysInsurance">
        SELECT insurance.insurance_id,insurance_name,insurance_price,insurance_details,product.product_id FROM happysys_product product
        INNER JOIN happysys_insurance_list ilist ON product.product_insurance =  ilist.insurance_list_id
        INNER JOIN happysys_insurance_center icenter ON icenter.`insurance_list_id` = ilist.`insurance_list_id`
        INNER JOIN happysys_insurance insurance ON  icenter.`insurance_id`= insurance.`insurance_id`
        WHERE product_id =#{conditions.productId0}
        UNION SELECT insurance.insurance_id,insurance_name,insurance_price,insurance_details,product.product_id FROM happysys_product product
        INNER JOIN happysys_insurance_list ilist ON product.product_insurance =  ilist.insurance_list_id
        INNER JOIN happysys_insurance_center icenter ON icenter.`insurance_list_id` = ilist.`insurance_list_id`
        INNER JOIN happysys_insurance insurance ON  icenter.`insurance_id`= insurance.`insurance_id`
        WHERE product_id =#{conditions.productId1}
        <if test="conditions.productId2 != null and conditions.productId2 != ''">
            UNION SELECT insurance.insurance_id,insurance_name,insurance_price,insurance_details,product.product_id FROM happysys_product product
            INNER JOIN happysys_insurance_list ilist ON product.product_insurance =  ilist.insurance_list_id
            INNER JOIN happysys_insurance_center icenter ON icenter.`insurance_list_id` = ilist.`insurance_list_id`
            INNER JOIN happysys_insurance insurance ON  icenter.`insurance_id`= insurance.`insurance_id`
            WHERE product_id =#{conditions.productId2}
        </if>
        <if test="conditions.productId3 != null and conditions.productId3 != ''">
            UNION SELECT insurance.insurance_id,insurance_name,insurance_price,insurance_details,product.product_id FROM happysys_product product
            INNER JOIN happysys_insurance_list ilist ON product.product_insurance =  ilist.insurance_list_id
            INNER JOIN happysys_insurance_center icenter ON icenter.`insurance_list_id` = ilist.`insurance_list_id`
            INNER JOIN happysys_insurance insurance ON  icenter.`insurance_id`= insurance.`insurance_id`
            WHERE product_id =#{conditions.productId3}
        </if>
    </select>
    <select id="getInsuranceSum" resultType="HappysysInsuranceSum" >
        SELECT insurance_sum.`insurance_sum_id`,insurance_sum.`insurance_sum`,insurance_sum.`insurance_sum_price` FROM happysys_product product
        INNER JOIN happysys_insurance_sum_list ilist ON product.`product_insurance_sum` =  ilist.`insurance_sum_list_id`
        INNER JOIN happysys_insurance_sum_center icenter ON icenter.`insurance_sum_list_id` = ilist.`insurance_sum_list_id`
        INNER JOIN happysys_insurance_sum insurance_sum ON  icenter.`insurance_sum_id` = insurance_sum.`insurance_sum_id`
        WHERE product_id = #{productId}
    </select>

    <select id="getPayment" resultType="HappysysPayment" >
        SELECT payment.`payment_id`,payment.`payment_time`,payment.`payment_category` FROM happysys_product product
        INNER JOIN happysys_payment_list plist ON plist.`paymnet_list_id` = product.`product_payment`
        INNER JOIN happysys_payment_center pcenter ON pcenter.`payment_list_id` = plist.`paymnet_list_id`
        INNER JOIN happysys_payment payment ON payment.`payment_id` = pcenter.`payment_id`
        WHERE product_id = #{productId}
    </select>

    <select id="calculatePrice" resultType="Double">
        SELECT SUM(s) s FROM
        (
         SELECT SUM(product_price) s FROM happysys_product
         WHERE product_id = #{product_id}
         UNION ALL
         SELECT SUM(section_price) s FROM happysys_section
         WHERE section_id = #{section_id}
         UNION ALL
         SELECT SUM(deadline_price) s FROM happysys_deadline
         WHERE deadline_id = #{deadline_id}
         UNION ALL
         SELECT SUM(insurance_sum_price) s FROM happysys_insurance_sum
         WHERE insurance_sum_id = #{insurance_sum_id}
            <if test="insurances!=null and insurances!=''">
             UNION ALL
             SELECT SUM(insurance_price) s FROM happysys_insurance
             WHERE insurance_id IN (${insurances})
            </if>
        ) AS total
    </select>

</mapper>


